<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hzf.study.security.mapper.SysUserMapper">
    <insert id="addUser">
        insert into spring_security.sys_user(username, encode_password, age)
        values (#{username}, #{encodePassword}, #{age});
    </insert>
    <update id="updateUser">
        update spring_security.sys_user
        set encode_password = #{encodePassword}
        where username = #{username}
    </update>
    <delete id="removeUser">
        delete
        from spring_security.sys_user
        where username = #{username}
    </delete>
    <select id="queryByUsername" resultType="com.hzf.study.security.entity.SysUser">
        select *
        from spring_security.sys_user
        where username = #{username}
    </select>
</mapper>